@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  
  background-color: black;

  color: #fff; 
}
.title {
  font-family: "Rubik Maps", system-ui;
}
.heading {
  font-family: "Manrope", sans-serif;
}
